# --- Maven ---
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/
/classes/

# --- Eclipse ---
.settings/
.project
.classpath
.factorypath
bin/

# --- Sistema Operativo (Spazzatura Mac e Windows) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# --- File di configurazione Locale (DATABASE & CLOUDINARY) ---
# Ignoriamo il file con le password personali
src/main/resources/db.properties

# --- Eccezioni ---
# Non ignorare il file di esempio che serve alle ragazze per capire cosa scrivere
!src/main/resources/db.properties.example

# --- Log e file temporanei ---
*.log
hs_err_pid*
replay_pid*

# --- Maven Wrapper ---
!.mvn/wrapper/maven-wrapper.jar