db.driver=com.mysql.cj.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/Tickema
db.user=INSERICI_QUI_IL_TUO_NOME_UTENTE
db.password=INSERISCI_QUI_LA_TUA_PASSWORD


#Cloudinary Config è uguale per tutti,quindi non toccarla,cancella questo commento però
cloudinary.url=cloudinary://436333226592914:OyGNb2KV-xd0bPDLQVNAgWuW8pc@dj8a3noqe